<table class="table table-bordered table-condensed table-hover" *ngIf="currentIndicator == null">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr style="cursor: pointer;" *ngFor="let indicator of indicatorData | paginate: { itemsPerPage: 10, currentPage: p }; let i=index" (click)="view(indicator)">
      <td>{{i + 1}}</td>
      <td>{{indicator.name}}</td>
      <td>
        <ol>
          <li *ngFor="let stat of indicator.status">
            <span class="text-{{stat.type}}">{{stat.message}}</span>
          </li>
        </ol>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls *ngIf="currentIndicator == null" (pageChange)="p = $event"></pagination-controls>
<div class="panel panel-default" *ngIf="currentIndicator != null">
  <div class="panel-body">
    <a (click)="close()" class="close"><i class="fa fa-close"></i></a>
    <h4 class="page-header" style="margin-top: 2px;">{{currentIndicator.name}}</h4>
    <div class="row">
      <div class="col-md-12">
        <p>
          <b>{{currentIndicator.name}}</b> is a <b>{{currentIndicator.indicatorType.name}}</b> indicator with the numerator described as <b>{{currentIndicator.numeratorDescription}}</b> and denominator described as <b>{{currentIndicator.denominatorDescription}}</b>. This indicator was first created on <b>{{currentIndicator.created | amDateFormat:'LL'}}</b> by <b>{{currentIndicator.user.name}}</b>
        </p>
        <p *ngIf="currentIndicator.annualized">
          It’s figure is annualized to support analysis in less than year period(monthly,quarterly,semi-annually)
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>A quick scan of this indicator showed that;</p>
        <ul class="list-unstyled status-list">
          <li *ngFor="let stat of currentIndicator.status" class="text-{{stat.type}}">
            <span *ngIf="stat.type == 'success'">
              <i class="fa fa-check"></i>
            {{stat.message}}
            </span>
            <a *ngIf="stat.type == 'danger'" (click)="openFixBlock(stat.item)" class="text-danger fix-btn">
              <i class="fa fa-exclamation-triangle"></i>
              {{stat.message}}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6" *ngIf="isFixBlockOpen">
        <div class="panel panel-default">
          <div class="panel-body">
            <a (click)="isFixBlockOpen = false" class="close"><i class="fa fa-close"></i></a>
            <h4 class="page-header" style="margin-top: 2px;">Fix {{fixBlockItem}} conflict</h4>
            <ul class="list-unstyled">
              <li class="form-group">
                <input type="radio" name="option">
                Option one
              </li>
              <li>
                <input type="radio" name="option">
                Option two
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
