<section style="padding-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Package name</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table package-table">
              <tr>
                <td colspan="2"><h5 style="margin-top: 0px;"><b>
                  Trainingland organisation units</b></h5></td>
              </tr>
              <tr>
                <th><small>Package by:</small></th>
                <td><small><a href="">olso</a></small></td>
              </tr>
              <tr>
                <th><small>License:</small></th>
                <td><small><a href="">BSD Lisence</a></small></td>
              </tr>
              <tr>
                <th><small>Tags:</small></th>
                <td>
                  <a href="" class="btn btn-xs btn-primary"><small>Malaria</small></a>
                  <a href="" class="btn btn-xs btn-primary"><small>Antinatal</small></a>
                </td>
              </tr>
              <tr>
                <th><small>Version:</small></th>
                <td>
                  <small>
                    <select name="" id="" class="package-version">
                      <option value="" selected="selected">2.0</option>
                      <option value="">2.1</option>
                    </select>
                  </small>
                </td>
              </tr>
            </table>
            <table class="table package-table">
              <tr>
                <th colspan="2"><h5 style="margin-top: 0px;"><b>Metadata Information</b></h5></th>
              </tr>
              <tr>
                <th><small>Organisation unit</small></th>
                <td><span class="notification-box-success">8</span></td>
              </tr>
              <tr>
                <th><small>Data elements</small></th>
                <td><span class="notification-box-success">8</span></td>
              </tr>
              <tr>
                <th><small>Indicators</small></th>
                <td><span class="notification-box-success">8</span></td>
              </tr>
              <tr>
                <th><small>Indicator Types</small></th>
                <td><span class="notification-box-success">8</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <p><b>Description</b></p>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excep teur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <a href="" class="btn btn-sm btn-default">Preview Import</a>
            <a href="" class="btn btn-sm btn-info">Import</a>
          </div>
        </div>
        <div class="panel panel-default"style="height: 400px;">
          <div class="panel-body">
            <tabset>
              <tab heading='Tab 1'>Tab 1 content</tab>
              <tab>
                <template tabHeading>Tab 2</template>
                Tab 2 content
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
