<section style="padding-top: 20px;">
  <div class="container">
    <div class="row" *ngIf="loadingPackage && !packageHasError">
      <div class="col-md-12">
        <small>Loading metadata package, please wait........</small>
      </div>
    </div>
    <div class="row" *ngIf="packageHasError">
      <div class="col-md-12">
        <div class="alert alert-danger">
          <small>An error has occured</small>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!loadingPackage && !packageHasError">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">{{metadataPackage.name}}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4" *ngIf="!loadingPackage && !packageHasError">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table package-table">
              <tr>
                <td colspan="2"><h5 style="margin-top: 0px;"><b>{{metadataPackage.name}}</b></h5></td>
              </tr>
              <tr>
                <th width="40%"><small>Package by:</small></th>
                <td><small><a href="{{metadataPackage.url}}">{{metadataPackage.organization}}</a></small></td>
              </tr>
              <tr>
                <th width="40%"><small>License:</small></th>
                <td><small><a href="{{metadataPackage.license.url}}" target="_blank">{{metadataPackage.license.name}}</a></small></td>
              </tr>
              <tr>
                <th width="40%"><small>Tags:</small></th>
                <td>
                  <ul class="list-inline">
                    <li *ngFor="let tag of metadataPackage.tags">
                      <span class="badge">{{tag}}</span>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th width="40%"><small>Version:</small></th>
                <td>
                  <small>
                    <select name="" id="" class="package-version">
                      <option value="" *ngFor="let version of metadataPackage.versions; let i=index">
                        {{version.version}}
                      </option>
                    </select>
                  </small>
                </td>
              </tr>
            </table>
            <!--<small *ngIf="loadingMetadata && !metadataHasError">Loading metadata summary, please wait...</small>-->
            <!--<table class="table package-table" *ngIf="!loadingMetadata && !metadataHasError">-->
              <!--<tr>-->
                <!--<th colspan="2"><h5 style="margin-top: 0px;"><b>Metadata Information</b></h5></th>-->
              <!--</tr>-->
              <!--<tr *ngFor="let item of metadata.items;">-->
                <!--<th><small>{{item | readableName}}</small></th>-->
                <!--<td><span class="notification-box-success">{{metadata.count[item]}}</span></td>-->
              <!--</tr>-->
            <!--</table>-->
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row" *ngIf="!loadingPackage && !packageHasError">
              <div class="col-md-12" style="margin-bottom: 10px;">
                <h5><b>Description</b></h5>
                <p class="text-justify">{{metadataPackage.description}}</p>
                <a (click)="importMetadata(true, metadata.metadata)" class="btn btn-sm btn-default">Preview Import</a>
                <a routerLink="import" class="btn btn-sm btn-info">Import</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
