<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="alert alert-info" *ngIf="loading">
          <small>Loading Package summary please wait...</small>
        </div>
        <table class="table package-table" *ngIf="!loading">
          <tr>
            <td colspan="2"><h5 style="margin-top: 0px;"><b>{{metadataPackage?.name}}</b></h5></td>
          </tr>
          <tr>
            <th width="40%"><small>Package by:</small></th>
            <td><small><a href="{{metadataPackage?.url}}">{{metadataPackage?.organization}}</a></small></td>
          </tr>
          <tr>
            <th width="40%"><small>License:</small></th>
            <td><small><a href="{{metadataPackage?.license.url}}" target="_blank">{{metadataPackage?.license.name}}</a></small></td>
          </tr>
          <tr>
            <th width="40%"><small>Tags:</small></th>
            <td>
              <ul class="list-inline">
                <li *ngFor="let tag of metadataPackage?.tags">
                  <span class="badge">{{tag}}</span>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th width="40%"><small>Version:</small></th>
            <td>
              <app-package-version-select [selectedVersion]="selectedVersion" [versions]="metadataPackage?.versions" (onVersionSelect)="getSelectedVersion($event)"></app-package-version-select>
              <a routerLink="/metadata-package/{{selectedVersion}}/{{metadataPackage.id}}" class="btn btn-default btn-sm">view</a>
            </td>
          </tr>
        </table>
        <app-metadata-summary *ngIf="!loading" [metadataId]="metadataPackage.id + '_' + selectedVersion" [metadataUrl]="getMetadataUrl(metadataPackage.versions,selectedVersion)"></app-metadata-summary>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="alert alert-info" *ngIf="loading">
          <small>Loading Package description please wait...</small>
        </div>
        <div class="row" *ngIf="!loading">
          <div class="col-md-12" style="margin-bottom: 10px;">
            <h5><b>Description</b></h5>
            <p class="text-justify">{{metadataPackage.description}}</p>
            <a [routerLink]="['import']" [queryParams]="{preview: true}" class="btn btn-sm btn-default">Preview Import</a>
            <a [routerLink]="['import']" class="btn btn-sm btn-info">Import</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-metadata-details *ngIf="!loading" [metadataId]="metadataPackage.id + '_' + selectedVersion" [metadataUrl]="getMetadataUrl(metadataPackage.versions,selectedVersion)"></app-metadata-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
