<div class="alert alert-info" *ngIf="loading">
  <small>Loading Metadata details please wait...</small>
</div>
<tabset *ngIf="!loading">
  <tab *ngFor="let item of metadata.items">
    <template tabHeading>
      {{item | readableName}}
    </template>
    <div class="row">
      <div class="col-md-12" style="padding-top: 10px;">
        <app-indicators *ngIf="item == 'indicators'" [indicators]="metadata.metadata[item]" [metadataId]="metadataId"></app-indicators>
        <app-indicator-type *ngIf="item == 'indicatorTypes'" [indicatorTypes]="metadata.metadata[item]"></app-indicator-type>
        <app-org-unit *ngIf="item == 'organisationUnits'" [orgUnits]="metadata.metadata[item]"></app-org-unit>
        <app-data-element *ngIf="item == 'dataElements'" [dataElements]="metadata.metadata[item]"></app-data-element>
      </div>
    </div>
  </tab>
</tabset>
