<div class="container-fluid">
  <div class="row" *ngIf="totalItems > 0">
    <div class="col-md-10 col-sm-10 col-xs-9">
      <small>{{progress}}</small>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3"><small class="pull-right">{{loadedItems}}/{{totalItems}} ({{calculateProgress(loadedItems,totalItems)}}%)</small></div>
    </div>
    <div class="row" *ngIf="totalItems > 0">
      <div class="col-md-12">
        <div class="progress" style="height: 7px;">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  [attr.aria-valuenow]="calculateProgress(loadedItems,totalItems)" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width' : calculateProgress(loadedItems,totalItems) + '%'}">
          </div>
        </div>
      </div>
    </div>
  <div class="row" *ngIf="importCompleted">
    <div class="col-md-12">
      <h3 class="page-header">{{summaryTitle}}</h3>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="page-header" style="margin-top: 2px;">Import counts</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th class="text-success">Created</th>
                <th class="text-info">Updated</th>
                <th class="text-warning">Ignored</th>
                <th class="text-danger">Deleted</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let importSum of importSummary.importCountsPerMetadata">
                <td>{{importSum.type}}</td>
                <td class="text-success">{{importSum.count.created}}</td>
                <td class="text-info">{{importSum.count.updated}}</td>
                <td class="text-warning">{{importSum.count.ignored}}</td>
                <td class="text-danger">{{importSum.count.deleted}}</td>
              </tr>
              <tr>
                <th>Total</th>
                <th class="text-success">{{importSummary.overallImportCounts.created}}</th>
                <th class="text-info">{{importSummary.overallImportCounts.updated}}</th>
                <th class="text-warning">{{importSummary.overallImportCounts.ignored}}</th>
                <th class="text-danger">{{importSummary.overallImportCounts.deleted}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="page-header" style="margin-top: 2px;">Import conflicts</h4>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Item type</th>
                <th>Conflicts</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let conflict of importSummary.importConflicts; let i=index">
                <td>{{i + 1}}</td>
                <td>{{conflict.type}}</td>
                <td>
                  <ol>
                    <li *ngFor="let description of conflict.description">{{description.message}}</li>
                  </ol>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
