<div class="container-fluid">
  <div class="row" *ngIf="totalItems > 0">
    <div class="col-md-10 col-sm-10 col-xs-9">
      <small>{{progress}}</small>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3"><small class="pull-right">{{loadedItems}}/{{totalItems}} ({{calculateProgress(loadedItems,totalItems)}}%)</small></div>
    </div>
    <div class="row" *ngIf="totalItems > 0">
      <div class="col-md-12">
        <div class="progress" style="height: 7px;">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  [attr.aria-valuenow]="calculateProgress(loadedItems,totalItems)" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width' : calculateProgress(loadedItems,totalItems) + '%'}">
          </div>
        </div>
      </div>
    </div>
  <div class="row" *ngIf="importCompleted">
    <div class="col-md-12">
      <h3 class="page-header">{{summaryTitle}}</h3>
      {{importSummary | json}}
    </div>
  </div>
</div>
