.package-panel {
  border-radius: 0px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-color: #f5f5f5;
  /*border-style: none;*/
  margin-bottom: 0px;
  margin-top: 0px;
}

.package-panel:hover {
  background-color: #f5f5f5;
}

.package-name {
  margin-top: 4px;
  margin-bottom: 0px;
}

.package-block {
  position: relative;
}

.package-links {
  position: absolute;
  right: 5px;
  top: 4px;
  display: none;
}

.package-panel:hover .package-links {
  display: block;
}
