<!--<button class="btn btn-default pull-right">Import Organisation Units</button>-->
<table class="table table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Code</th>
    <th>Parent</th>
    <th>Status</th>
    <th>Conflicts</th>
  </tr>
  </thead>
  <tbody *ngFor="let orgUnit of scannedOrgUnits;let i=index">
  <tr (click)="toggle(orgUnit.id)" style="cursor: pointer;">
    <td>{{i + 1}}</td>
    <td>{{orgUnit.name}}</td>
    <td>{{orgUnit.code}}</td>
    <td>
      <span class="text-warning" *ngIf="!orgUnit.scanResult.parentAvailable">None</span>
      <span *ngIf="orgUnit.scanResult.parentAvailable">{{orgUnit.parent.name}}</span>
    </td>
    <td>
      <span class="notification-box-success" *ngIf="orgUnit.scanResult.exist">
        <i class="fa fa-check"></i>&nbsp;Already exist
      </span>
      <span class="text-warning" *ngIf="!orgUnit.scanResult.exist">Not imported</span>
    </td>
    <td>
      <span class="text-danger" *ngIf="orgUnit.scanResult.conflicts.length > 0">
        <span class="notification-box-danger">{{orgUnit.scanResult.conflicts[0]}}</span> <small *ngIf="orgUnit.scanResult.conflicts.length > 1">and {{orgUnit.scanResult.conflicts.length}}+</small>
      </span>
      <span class="text-success" *ngIf="orgUnit.scanResult.conflicts.length == 0">No conflicts</span>
    </td>
  </tr>
  <tr *ngIf="currentSelected == orgUnit.id" style="border-bottom-style: none; ">
    <td colspan="6">
      <div class="row">
        <div [ngClass]="orgUnit.scanResult.conflicts.length > 0 ? 'col-md-8' : 'col-md-12'">
          <h5><b>Organisation unit details</b></h5>
          <table class="table table-hover">
            <tr>
              <th width="20%">Name</th>
              <td>{{orgUnit.name}}</td>
            </tr>
            <tr>
              <th width="20%">Code</th>
              <td><code>{{orgUnit.code}}</code></td>
            </tr>
            <tr>
              <th width="20%">Date opened</th>
              <td>{{orgUnit.openingDate | amDateFormat:'LL'}}</td>
            </tr>
            <tr (click)="showParent = !showParent" style="cursor: pointer;" [ngStyle]="showParent ? {'background-color': '#f5f5f5'}: ''">
              <th>Parent</th>
              <td>{{orgUnit.parent.name}}</td>
            </tr>
            <tr *ngIf="showParent">
              <td colspan="2">
                <table class="table">
                  <tr>
                    <th width="19%">Name</th>
                    <td>{{orgUnit.parent.name}}</td>
                  </tr>
                  <tr>
                    <th width="19%">Code</th>
                    <td>{{orgUnit.parent.code}}</td>
                  </tr>
                  <tr>
                    <th width="19%">Created at</th>
                    <td>{{orgUnit.parent.created | amCalendar}}</td>
                  </tr>
                  <tr>
                    <th width="19%">Updated at</th>
                    <td>{{orgUnit.parent.lastupdated | amCalendar}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4" *ngIf="orgUnit.scanResult.conflicts.length > 0">
          <h5><b>Conflicts</b></h5>
          <ul class="list-unstyled">
            <li *ngFor="let conflict of orgUnit.scanResult.conflicts;let i=index">{{i + 1}}. {{conflict}}</li>
          </ul>
          <h5><b>Fix conflict</b></h5>
          <ul class="list-unstyled">
            <li>
              <input type="radio">
              Make it level one
            </li>
            <li>
              <input type="radio">
              Change parent
            </li>
            <li>
              <input type="radio">
              Fix parent
            </li>
          </ul>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
