<section id="home-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" [(ngModel)]="packageName" class="form-control" placeholder="Search for packages and apps">
        </div>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <!--<settings></settings>-->
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row" style="margin-top: 70px;">
    <!--<span *ngIf="package.loading">{{package.message}}</span>-->
    <!--<div class="alert alert-danger" *ngIf="package.error">{{package.message}}</div>-->
    <div class="col-md-12" *ngFor="let packageData of packages | async">
      <app-package-item [packageItemData]="packageData"></app-package-item>
    </div>
  </div>
</div>
