<section id="home-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" [(ngModel)]="packageName" class="form-control" placeholder="Search for packages and apps">
        </div>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <!--<settings></settings>-->
      </div>
    </div>
  </div>
</section>
<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-unstyled" *ngIf="!loading && !hasError">
        <li class="package-block" *ngFor="let metadataPackage of metadataPackages | filter:packageName">
          <div class="row">
            <div class="col-md-12">
              <h4 class="package-name">
                <b><a routerLink="metadata-package/{{metadataPackage.id}}/{{metadataPackage.versions[0].version}}">{{metadataPackage.name}}</a></b>
                <!--<span class="notification-box-success"><i class="fa fa-check"></i> imported</span>-->
              </h4>
              <span><small><b>Tags: </b></small></span>
              <span *ngFor="let tag of metadataPackage.tags; let i=index">
                <small>{{i > 0 ?', ':''}}{{tag}}</small>
              </span>
              <p class="text-justify">{{metadataPackage.description}}</p>
              <ul class="list-inline package-links">
                <li><a routerLink="metadata-package/{{metadataPackage.id}}" class="btn btn-sm btn-primary">view</a></li>
                <li><a href="" class="btn btn-sm btn-default"><i class="fa fa-download"></i> import</a></li>
              </ul>
              <hr>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <tips></tips>
    </div>
  </div>
</div>
